<% include template/header.ejs %>
<h1>ITS WORKING</h1>
<br>
<% blogs.forEach((blog) => {%>
    <div> <h2><%=blog.title%></h2> <br> <img width="10%" height="10%" src="<%= blog.image %>"> <br> <p><%=blog.body%></p>
<%}) %>


<% include template/footer.ejs %>

