<% include template/header.ejs %>
<h1>ITS WORKING</h1>
<br>
<% blogs.forEach((blog) => {%>
    <div class="ui container blogpost"> 
        <div class="ui title blogpost">
            <h2><%=blog.title%></h2> 
        </div>
        <img src="<%= blog.image %>">
        <div class="description">
            <p><%=blog.body%></p>
        </div>
        <a style="margin: 1em;" class="ui button blue inverted" href="/blogs/<%= blog._id %>">Read more!</a>
        <hr>
    </div>
<%}) %>


<% include template/footer.ejs %>

