<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <title>Manic Blog</title>
</head>
<body>

    <div class="ui menu inverted fixed">
        <div class="ui container">
                <a class="item" href="/blogs"><i class="icon user secret"></i>Blag</a>
                <a class="item" href="/blogs/new">New Post</a>
                <button onclick="alert('Congrats, you have killed us all')" class="item">Push for Apocolypse</button>
        </div>
    </div>
 
